<!DOCTYPE html>
<html>
  <head>
    <title>Animalfacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <span class="title">Animal Facts & More</span>
      <div class="links">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Facts', facts_path %>
        <%= link_to 'Riddles', riddles_path %>
        <%= link_to 'Paragraphs', paragraphs_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
